{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<!-- {% block head %}{% endblock %} -->
{% block title %} CREATE A BLOG {% endblock %}
{% block content %}
{% include 'intials/navbar.html' %}
<main style="background-image: linear-gradient( 109.6deg,  rgba(44,83,131,1) 18.9%, rgba(95,175,201,1) 91.1% );padding-bottom:50px">
<div class="container col-md-6 pt-5" style="box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;">
<div class="content-section" style="width:763px;background-image: linear-gradient( 358.7deg,  rgba(42,136,157,1) 1.7%, rgba(122,197,214,1) 51.1%, rgba(211,232,242,1) 95.5% );">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4" style="font-family:Luminari;font-weight:500;font-size:2rem">BLOG POST</legend>
          {{form| crispy}}
        </fieldset>
        <div class="form-group">
         <center><button class="btn btn-primary mb-3" type="submit">POST</button></center>
        </div>
        </form>
    </div>
</div>
</main>
{% include 'intials/footer.html' %}
{% endblock %}